body {
    text-align: center;
    background-color: grey
}

.view {
  background-color: lightblue;
  margin-top: 16px;
  /* Wrap content */
   display: inline-block;
   border-radius: 50px;
   /* shadow  */
   box-shadow: 0 0 100px black;
}

h1 {
    font-family: Monoton;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

.fancy {
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #2b2b2b;
  font-size: 30px;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 3em;
    font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
    font-size: 1em;
}
