body {
    text-align: center;
    background-color: grey
}

.view {
  background-color: lightblue;
  margin-top: 16px;
  /* Wrap content */
   display: inline-block;
   border-radius: 50px;
   /* shadow  */
   box-shadow: 0 0 100px black;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
